<div class="btn-group mb-3" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" (click)="loadComponentA()">Component A</button>
  <button type="button" class="btn btn-primary" (click)="loadComponentB()">Component B</button>
  <button type="button" class="btn btn-primary" (click)="loadComponentC()">Component C</button>
</div>

<div class="mb-3 p-3" style="border: 1px dashed black;">
  <h3>I will load a component here</h3>
  <ng-template #componentContainer></ng-template>
</div>

<h4>References</h4>
<p>
  <a href="https://angular.io/guide/dynamic-component-loader" target="_blank">Dynamic component loader</a>
</p>
<p>
  <a href="https://indepth.dev/posts/1054/here-is-what-you-need-to-know-about-dynamic-components-in-angular">
    Here is what you need to know about dynamic components in Angular
  </a>
</p>
<p>
  <a href="https://angular.io/api/core/ViewChild">API: ViewChild</a>
</p>
<p>
  <a href="https://angular.io/api/core/ViewContainerRef">API: ViewContainerRef</a>
</p>
